section {
  height: 100vh;
  &.intro {
    background-color: rgb(4,50,61);
    padding-top: 10rem;
    height: calc(100vh - 10rem);
    p {
      font-size: 2rem;
      text-align: center;
      margin-top: 3rem;
    }
  }
  &.anim {
    background-color: #1989A6;
    padding: 12rem;
    height: calc(100vh - 24rem);
    overflow: hidden;
    position: relative;
    h1 {
      position: absolute;
      font-size: 10rem;
      text-transform: uppercase;
      margin: 0;
      z-index: 1;
      left: 15%;
    }
    p {
      position: absolute;
      font-size: 2rem;
      width: 40%;
      z-index: 1;
      top: 500px;
    }
    .box {
      position: absolute;
      z-index: 0;
      border: 25px solid;
      overflow: hidden;
      &1 {
        top: 0;
        left: 20%;
        width: 800px;
        height: 800px;
        border-color: #20A2C3;
        transform: rotateZ(65deg);
      }
      &2 {
        top: 20%;
        left: 13.32%;
        width: 200px;
        height: 200px;
        border-color: rgba(255,255,255,.5)
      }
    }
  }
  &.outro {
    padding: 5rem;
    a {
      display: block;
      text-align: center;
    }
  }
}